.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_area {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}
.logo_area img {
  padding: 0 20px;
  height: 40px;
  cursor: pointer;
}
.auth span {
  padding: 0 20px;
  color: #8b8b8b;
  font-weight: 500;
  cursor: pointer;
}

.menu_bar {
  width: 100%;
  background-color: #0e1724;
  align-items: center;
  justify-content: center;
  display: flex;
}
.menu_wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
}
.menu_wrapper span {
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 480px) {
  .logo_area img {
    height: 30px;
  }

  .auth span {
    padding: 0 10px;
  }

  .menu_wrapper {
    justify-content: space-around;
  }

  .menu_wrapper span {
    padding: 0 10px;
  }
}

@media (max-width: 400px) {
  .logo_area img {
    height: 23px;
  }

  .auth span {
    padding: 0 5px;
  }
  .menu_wrapper {
    padding: 5px 10px;
  }
  .menu_wrapper span {
    font-size: 0.8rem;
  }
}
