.container {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.animate {
  animation: fader 1s;
}

.card_img {
  width: 100%;
  z-index: -1;
}

.msg_wrapper {
  width: 90%;
  max-width: var(--max-width);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
}

.msg_wrapper b {
  font-size: 5rem;
}

.msg_wrapper button {
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #4a2eea;
}

.right_msg {
  text-align: right;
}

.button_wrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0;
  margin: 0;
  list-style: none;
}
.button_wrapper li {
  font-size: 5rem;
  font-weight: bold;
  padding: 0 10px;
  cursor: pointer;
}

.button {
  color: #b4b4b4;
}
.selected_button {
  color: #fff;
}

@keyframes fader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fader {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fader {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fader {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
