.container {
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
}
.container:hover {
  transform: scale(1.01);
}
.container h3 {
  font-size: 1rem;
  margin: 0;
}

.image_wrapper {
  height: 200px;
  background-color: #d3d3d3;
}
.image_wrapper img {
  width: 250px;
  height: 200px;
  object-fit: contain;
}

.contents {
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contents p {
  word-wrap: break-word;
}
.info {
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.info::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.location_time {
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 10px;
}
.detail {
  margin: 0;
}

.pay {
  font-weight: bold;
  margin: 0;
  height: 40px;
  padding: 10px;
}

@media (max-width: 768px) {
  .image_wrapper {
    height: 180px;
  }
  .image_wrapper img {
    width: 200px;
    height: 180px;
  }
  .contents {
    height: 180px;
  }
  .detail {
    max-height: 80px;
  }
}

@media (max-width: 480px) {
  .image_wrapper {
    height: 120px;
  }
  .image_wrapper img {
    width: 120px;
    height: 120px;
  }
  .contents {
    height: 120px;
  }
  .detail {
    max-height: 20px;
  }
}
