.container {
  margin: 0;
  padding: 0;
}

.contents {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 30px;
}

.contents h2 {
  font-size: 2.5rem;
  color: var(--dark-font);
}

.procedure {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  gap: 20px;
  border-bottom: 1px solid var(--light-grey-font);
  padding-bottom: 50px;
  margin-bottom: 50px;
}

@media (max-width: 769px) {
  .procedure {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 481px) {
  .contents h2 {
    font-size: 2rem;
  }
  .procedure {
    grid-template-columns: repeat(1, 1fr);
  }
}
