.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--grey-bg);
}

.container a {
  color: #007fed;
  cursor: pointer;
}

.window {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 4px 0 #00000014, 0 2px 4px 0 #0000001f;
  margin: auto;
  margin-top: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 240px;
  margin: 20px auto;
}
.logo img {
  width: 100%;
}

.window form {
  width: 80%;
  margin: 10px auto;
}

.input_box {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
}

.condition {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.check_stay {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input_check {
  margin: 0;
  margin-right: 5px;
}

.error {
  width: 100%;
  animation: fader 2s;
  background-color: #fff1f2;
  color: #636363;
  padding: 15px;
  border-left: 30px solid #e34647;
  margin: 10px auto;
}

.button {
  background-color: #d9e026;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  margin: 10px auto;
}

@keyframes fader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
